<!DOCTYPE style>
{<style>}
.search {
  overflow: hidden;
  background-color:  #ecf2f9
  padding: 50px 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 }

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
body {
  background-color:#29293d
}
.header {
  padding: 5px;
  text-align: center;
  background: #666699;
  color: white;
  font-size: 40px;
  font-style: unset;
}

#confirm
         {
            display: none;
            background-color: #F3F5F6;
            color: #000000;
            border: 1px solid #aaa;
            position: fixed;
            width: 300px;
            height: 100px;
            left: 50%;
            margin-left: -100px;
            padding: 10px 20px 10px;
            box-sizing: border-box;
            text-align: center;
         }
         #confirm button {
            background-color: #FFFFFF;
            display: inline-block;
            border-radius: 12px;
            border: 4px solid #aaa;
            padding: 5px;
            text-align: center;
            width: 60px;
            cursor: pointer;
         }
         #confirm .message
         {
            text-align: left;
         }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #AF0FFFF;
  p.solid {border-style: ridge;}
  border: {1px solid red};
}

#list {

  background:#0a616d
}

#myTable {

  background:#0a616d
  
}

#demo6 {

  background:#0a616d
  
}
#demo2 {

  background: #800000
  
}
ol li {
  background: #cce5ff;
  margin: 5px;
}
figcaption {
  background-color: #99ff66;
  color: black;
  font-style: bold;
  padding: 2px;
  text-align: center;
}
img {
        padding: 1px;
        border: 1px #A9A9A9;
        border-style: groove;
        background-color: #eee;
      }
li {
  float: left;}
ul {

    list-style: none
}

.search1 {
  overflow: hidden;
  background-color:  #ecf2f9
  padding: 50px 50px;
 }
.search input[type=text] {
  float: bottom;
  padding: 50px 50px;
  margin-top: 8px;
  margin-left: 15px;
  border: none;
  font-size: 25px;
  background-color: #006666
}

.search1 input [type=number] {
  float: bottom;
  padding: 50px 50px;
  margin-top: 8px;
  margin-left: 15px;
  border: none;
  font-size: 25px;
  background-color: #006666
}

.search .search-container button:hover {
  background: #ccc;
}
.search button {
  background: #2F4F4F;
  padding: 14px 20px;
  margin-left: 10px;
  border: black;
  margin-bottom:5px ;
 
}


{</style>}